/**
 * Custom CSS to the Everest project. It's mostly for fixing stuff.
 */

/* Leave some empty space in the top for the navbar */
body {
  padding-top: 90px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
}

/* Helps with the avatar alignment on the navbar */
.avatar {
  position: relative;
  top: -5px;
  float: right;
  left: 20px;
}

/* Puts more space to the logout button on the navbar */
.navbar-btn {
  margin-right: 10px;
}

/* Centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    text-align:left;
    margin-right:-4px;
}

.skill {
  margin: 20px;
  text-align: center;
}

.skill-title {
  margin-top: 10px;
  /*font-size: 15px;*/
  /*font-weight: bold;*/
}

#editor-box {
  height: 400px;
}
#editor {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
#terminal-box {
  height: 200px;
}
#terminal {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
