{% extends "base.html" %}

{% block title %} Habilidades - Everest {% endblock %}

{% block body %}

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Habilidades</h3>
  </div>
  <div class="panel-body">
    Abaixo estão listadas para você as habilidades que você deve adiquirir. Cada habilidade contém uma série de exercício que você precisa concluir para completa-la e habilitar a próxima fileira de habilidades.
  </div>
  <!-- List group -->
  <ul class="list-group">
    <li class="list-group-item">
      <div class="row row-centered">
        <div class="col-centered skill">
          <img src="http://placehold.it/100x100" class="img-circle">
          <p class="skill-title">Conditionals</p>
        </div>
        <div class="col-centered skill">
          <img src="http://placehold.it/100x100" class="img-circle">
          <p class="skill-title">Loops</p>
        </div>
        <div class="col-centered skill">
          <img src="http://placehold.it/100x100" class="img-circle">
          <p class="skill-title">OO</p>
        </div>
        <div class="col-centered skill">
          <img src="http://placehold.it/100x100" class="img-circle">
          <p class="skill-title">Selection</p>
        </div>
        <div class="col-centered skill">
          <img src="http://placehold.it/100x100" class="img-circle">
          <p class="skill-title">Printing</p>
        </div>
        <div class="col-centered skill">
          <img src="http://placehold.it/100x100" class="img-circle">
          <p class="skill-title">Loops</p>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row row-centered">
        <div class="col-centered skill">
          <img src="http://placehold.it/100x100" class="img-circle">
          <p class="skill-title">Conditionals</p>
        </div>
        <div class="col-centered skill">
          <img src="http://placehold.it/100x100" class="img-circle">
          <p class="skill-title">Fruit-loops Within Loops</p>
        </div>
        <div class="col-centered skill">
          <img src="http://placehold.it/100x100" class="img-circle">
          <p class="skill-title">OO</p>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row row-centered">
        <div class="col-centered skill">
          <img src="http://placehold.it/100x100" class="img-circle">
          <p class="skill-title">Conditionals</p>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row row-centered">
        <div class="col-centered skill">
          <img src="http://placehold.it/100x100" class="img-circle">
          <p class="skill-title">Printing the printer is a recursive task</p>
        </div>
        <div class="col-centered skill">
          <img src="http://placehold.it/100x100" class="img-circle">
          <p class="skill-title">Loops</p>
        </div>
      </div>
    </li>
  </ul>
</div>

{% endblock %}
